@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;

  ::selection {
    background-color: #4f46e5;
    color: #ffffff;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
  font-family: var(--font-inter);
}

@layer components {
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    transition:
      background-color 90000000s ease-in-out 0s,
      color 900000000s ease-in-out 0s;
  }
}
