@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  ::selection {
    background-color: #4f46e5;
    color: #ffffff;
  }
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-inter);
}

@layer components {
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    transition:
      background-color 90000000s ease-in-out 0s,
      color 900000000s ease-in-out 0s;
  }
}

.container {
  @apply max-w-[1200px] px-5 sm:px-10 mx-auto;
}

.outerContainer {
  @apply py-16 scroll-m-20;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6366f1;
}
